* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #1f2937;
}

/* INDEX */
.headerIndex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divLogo .imgLogo {
  width: 180px;
  height: auto;
  text-align: center;
  margin-left: 50px;
}

.navIdioma {
  margin-right: 50px;
}

.navIdioma ul {
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
  width: 40px;
  height: 35px;
  border-radius: 7px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #004aad;
}

.navIdioma ul li {
  display: inline-block;
  position: relative;
  color: white;
  cursor: pointer;
}

.navIdioma ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #004aad;
  padding: 0;
}

.navIdioma ul li:hover ul {
  display: block;
}

.navIdioma ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navIdioma ul li ul li {
  display: block;
  width: 100%;
}

.presentacion {
  height: 80vh;
}

.divPresentacion {
  margin: 200px 0px auto;
  text-align: center;
  font-weight: 700;
}
.divPresentacion h1 {
  font-size: 3.438rem;
  color: #449DD1;
}
.divPresentacion h2 {
  font-size: 3.125rem;
  color: #449DD1;
}
.divPresentacion p {
  font-size: 1.125rem;
  font-weight: 400;
  width: 50%;
  margin: 0 auto;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.likedin {
  display: inline-block;
  background-color: white;
  margin: 0px 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100px;
  transition: transform 0.4s ease-out;
}
.likedin:hover {
  transform: scale(1.1);
}
.likedin .fa-linkedin-in {
  font-size: 20px;
  margin-top: 17px;
  text-align: center;
}

.gitHub {
  display: inline-block;
  background-color: white;
  margin: 0px 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100px;
  transition: transform 0.4s ease-out;
}
.gitHub:hover {
  transform: scale(1.1);
}
.gitHub .fa-github {
  font-size: 20px;
  margin-top: 17px;
  text-align: center;
}

.correo {
  display: inline-block;
  background-color: white;
  margin: 0px 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100px;
  transition: transform 0.4s ease-out;
}
.correo:hover {
  transform: scale(1.1);
}
.correo .fa-envelope {
  font-size: 20px;
  margin-top: 17px;
  text-align: center;
}

.whatsapp {
  display: inline-block;
  background-color: white;
  margin: 0px 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100px;
  transition: transform 0.4s ease-out;
}
.whatsapp:hover {
  transform: scale(1.1);
}
.whatsapp .fa-whatsapp {
  font-size: 20px;
  margin-top: 17px;
  text-align: center;
}

.sobreMi {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.sobreMi .divSobreMi {
  width: 50%;
  font-weight: 700;
}
.sobreMi .divSobreMi h6 {
  font-size: 18px;
  color: #004aad;
}
.sobreMi .divSobreMi h2 {
  font-size: 50px;
  color: #449DD1;
}
.sobreMi .divSobreMi p {
  font-size: 17px;
  font-weight: 400;
}
.sobreMi .divImg {
  padding: 20px;
  border-radius: 10px;
  background-color: #1f2937;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
}
.sobreMi .divImg img {
  width: 340px;
  height: auto;
  border-radius: 10px;
}

.habilidades {
  margin-top: 200px;
  height: 80vh;
}
.habilidades .divHabilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.habilidades .divHabilidades h6 {
  font-size: 18px;
  color: #004aad;
}
.habilidades .divHabilidades h2 {
  font-size: 50px;
  color: #449DD1;
  margin-bottom: 50px;
}
.habilidades .divHabilidades .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 70px;
       column-gap: 70px;
  margin-bottom: 200px;
}
.habilidades .divHabilidades .grid-container .grid-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f1e0;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
  width: 275px;
  height: 125px;
  border-radius: 10px;
  transition: transform 0.4s ease-out;
}
.habilidades .divHabilidades .grid-container .grid-item:hover {
  transform: scale(1.1);
}
.habilidades .divHabilidades .grid-container .grid-item h5 {
  font-weight: 700;
}

.proyectos {
  height: 100vh;
}
.proyectos .divProyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos .divProyectos h6 {
  font-size: 18px;
  color: #004aad;
}
.proyectos .divProyectos h2 {
  font-size: 50px;
  color: #449DD1;
}
.proyectos .divProyectos .grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1e0;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  position: relative;
}
.proyectos .divProyectos .grid-container2 .grid-item2 img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  background-image: radial-gradient(circle at 14.64% -11.24%, #d050ed 0, #b848ef 16.67%, #9b41f1 33.33%, #783cf2 50%, #4439f3 66.67%, #0038f5 83.33%, #0039f6 100%);
  border-radius: 10px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info:hover {
  opacity: 1;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info h3 {
  font-size: 40px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info a {
  background-color: white;
  border-radius: 5px;
  padding: 7px 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: transform 0.3s ease-out;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info a:hover {
  transform: scale(1.1);
}

.contacto {
  height: 100vh;
  width: 100%;
}

.divContacto {
  text-align: center;
}
.divContacto h6 {
  font-size: 18px;
  color: #004aad;
}
.divContacto h2 {
  font-size: 50px;
  color: #449DD1;
  margin-bottom: 70px;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: #f0f1e0;
  border-radius: 10px;
}
.form1 .form-row {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}
.form1 .form-row input {
  height: 50px;
  padding: 2px;
}
.form1 .form-row textarea {
  resize: none;
  padding: 2px;
}
.form1 .form-row button {
  margin: 0 auto;
  width: 100px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-image: radial-gradient(circle at 14.64% -11.24%, #d050ed 0, #b848ef 16.67%, #9b41f1 33.33%, #783cf2 50%, #4439f3 66.67%, #0038f5 83.33%, #0039f6 100%);
}

/* EXITO */
.exito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.exito .divExito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.exito .divExito svg {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.exito .divExito h5 {
  color: #449DD1;
  font-size: 30px;
}

@media (max-width: 1024px) {
  .habilidades .divHabilidades .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .proyectos .divProyectos .grid-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }
  .contacto {
    height: 120vh;
  }
}
@media (max-width: 768px) {
  .presentacion {
    height: 70vh;
  }
  .presentacion .divPresentacion p {
    width: 100%;
  }
  .sobreMi {
    flex-direction: column;
  }
  .sobreMi .divSobreMi {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .sobreMi .divImg {
    margin-top: 30px;
    padding: 20px;
  }
  .exito .divExito h5 {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .headerIndex .divLogo .imgLogo {
    margin: 0;
  }
  .headerIndex .navIdioma {
    margin: 0;
  }
  .presentacion {
    height: 70vh;
  }
  .presentacion .divPresentacion h1 {
    font-size: 2.438rem;
  }
  .presentacion .divPresentacion h2 {
    font-size: 2.125rem;
  }
  .presentacion .divPresentacion p {
    font-size: 1rem;
    width: 100%;
  }
  .sobreMi {
    height: 120vh;
  }
  .sobreMi .divSobreMi {
    margin: 0 auto;
    text-align: center;
    word-wrap: break-word;
  }
  .sobreMi .divSobreMi h2 {
    font-size: 2.438rem;
  }
  .sobreMi .divSobreMi p {
    font-size: 1rem;
  }
  .habilidades {
    height: 160vh;
  }
  .habilidades .divHabilidades {
    text-align: center;
  }
  .habilidades .divHabilidades h2 {
    font-size: 2.438rem;
  }
  .habilidades .divHabilidades .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  .proyectos .divProyectos h2 {
    font-size: 1.8rem;
  }
  .contacto {
    height: 110vh;
  }
  .contacto .divContacto h2 {
    font-size: 2.438rem;
  }
  .exito .divExito h5 {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */